.select{
    display: flex;
    position: fixed;
    top:10px;
    left:10px;
    width: 90px;
    z-index: 10;
    
    &__header{
        cursor: pointer;
        display: flex;
        width: 90px;
    }
    &__current{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        @include subItem();
        &::after{
            content: url('../../src/img/arrow.svg');
            rotate: 90deg;
            position: absolute;
            right: 0;
            width: 16px;
         }
    }
    &__icon{
        align-items: center;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        height: 40px;
        width: 40px;
        margin-left: auto;
        text-align: center;
    }
    &__body{
        display: none;
        position: absolute;
        top: 100%;
        max-width: 180px !important;
    }
    &__title{
        @include titleItem();
        display: flex;
        justify-content: center;
        max-width: 180px !important;
    }
    &__item{
        cursor: pointer;
        max-height: 20px;
        height: 100%;
        max-width: 180px !important;
        @include subItem();
    }
    
}
.center{
    position: relative;
    left: auto;
}
.is-active{
    box-shadow: 3px 3px 3px 3px #74899B;
    opacity: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.IconUSA{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconUSA.svg');
    }
}
.IconRU{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconRU.svg');
    }
}
.IconBY{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconBY.svg');
    }
}
.IconKZ{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconKZ.svg');
    }
}
.IconNL{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconNL.svg');
    }
}
.IconTR{
    &::before{
        margin-right: 10px;
        content: url('../../src/img/IconTR.svg');
    }
}